SLSOCdesktop/Service References/ServiceReference4/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service4" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SLSOCserver" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService4_AddModules_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModules" />
  </wsdl:message>
  <wsdl:message name="IService4_AddModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchModules_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchModules" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_GetComModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComModules" />
  </wsdl:message>
  <wsdl:message name="IService4_GetComModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_UpdateComModules_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComModules" />
  </wsdl:message>
  <wsdl:message name="IService4_UpdateComModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_DeleteComModules_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComModules" />
  </wsdl:message>
  <wsdl:message name="IService4_DeleteComModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_AddLecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLecHalls" />
  </wsdl:message>
  <wsdl:message name="IService4_AddLecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchLecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLecHalls" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchLecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_GetComLecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComLecHalls" />
  </wsdl:message>
  <wsdl:message name="IService4_GetComLecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComLecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_UpdateComlecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComlecHalls" />
  </wsdl:message>
  <wsdl:message name="IService4_UpdateComlecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComlecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_DeleteComLecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComLecHalls" />
  </wsdl:message>
  <wsdl:message name="IService4_DeleteComLecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComLecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_AddLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLabs" />
  </wsdl:message>
  <wsdl:message name="IService4_AddLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLabs" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_GetComLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComLabs" />
  </wsdl:message>
  <wsdl:message name="IService4_GetComLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_UpdateComLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComLabs" />
  </wsdl:message>
  <wsdl:message name="IService4_UpdateComLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_DeleteComLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComLabs" />
  </wsdl:message>
  <wsdl:message name="IService4_DeleteComLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_AddTimetables_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTimetables" />
  </wsdl:message>
  <wsdl:message name="IService4_AddTimetables_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTimetablesResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_GetComTimetables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComTimetables" />
  </wsdl:message>
  <wsdl:message name="IService4_GetComTimetables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComTimetablesResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_GetEngineeringLecturers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineeringLecturers" />
  </wsdl:message>
  <wsdl:message name="IService4_GetEngineeringLecturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineeringLecturersResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_GetEngineeringStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineeringStudents" />
  </wsdl:message>
  <wsdl:message name="IService4_GetEngineeringStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineeringStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchLecturers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLecturers" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchLecturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLecturersResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchStudents" />
  </wsdl:message>
  <wsdl:message name="IService4_SearchStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService4">
    <wsdl:operation name="AddModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/AddModules" message="tns:IService4_AddModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/AddModulesResponse" message="tns:IService4_AddModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/SearchModules" message="tns:IService4_SearchModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/SearchModulesResponse" message="tns:IService4_SearchModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/GetComModules" message="tns:IService4_GetComModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/GetComModulesResponse" message="tns:IService4_GetComModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/UpdateComModules" message="tns:IService4_UpdateComModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/UpdateComModulesResponse" message="tns:IService4_UpdateComModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/DeleteComModules" message="tns:IService4_DeleteComModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/DeleteComModulesResponse" message="tns:IService4_DeleteComModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/AddLecHalls" message="tns:IService4_AddLecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/AddLecHallsResponse" message="tns:IService4_AddLecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/SearchLecHalls" message="tns:IService4_SearchLecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/SearchLecHallsResponse" message="tns:IService4_SearchLecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComLecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/GetComLecHalls" message="tns:IService4_GetComLecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/GetComLecHallsResponse" message="tns:IService4_GetComLecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComlecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/UpdateComlecHalls" message="tns:IService4_UpdateComlecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/UpdateComlecHallsResponse" message="tns:IService4_UpdateComlecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComLecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/DeleteComLecHalls" message="tns:IService4_DeleteComLecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/DeleteComLecHallsResponse" message="tns:IService4_DeleteComLecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/AddLabs" message="tns:IService4_AddLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/AddLabsResponse" message="tns:IService4_AddLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/SearchLabs" message="tns:IService4_SearchLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/SearchLabsResponse" message="tns:IService4_SearchLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/GetComLabs" message="tns:IService4_GetComLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/GetComLabsResponse" message="tns:IService4_GetComLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/UpdateComLabs" message="tns:IService4_UpdateComLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/UpdateComLabsResponse" message="tns:IService4_UpdateComLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/DeleteComLabs" message="tns:IService4_DeleteComLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/DeleteComLabsResponse" message="tns:IService4_DeleteComLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTimetables">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/AddTimetables" message="tns:IService4_AddTimetables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/AddTimetablesResponse" message="tns:IService4_AddTimetables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComTimetables">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/GetComTimetables" message="tns:IService4_GetComTimetables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/GetComTimetablesResponse" message="tns:IService4_GetComTimetables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEngineeringLecturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/GetEngineeringLecturers" message="tns:IService4_GetEngineeringLecturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/GetEngineeringLecturersResponse" message="tns:IService4_GetEngineeringLecturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEngineeringStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/GetEngineeringStudents" message="tns:IService4_GetEngineeringStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/GetEngineeringStudentsResponse" message="tns:IService4_GetEngineeringStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLecturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/SearchLecturers" message="tns:IService4_SearchLecturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/SearchLecturersResponse" message="tns:IService4_SearchLecturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/SearchStudents" message="tns:IService4_SearchStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/SearchStudentsResponse" message="tns:IService4_SearchStudents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService4" type="tns:IService4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddModules">
      <soap:operation soapAction="http://tempuri.org/IService4/AddModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchModules">
      <soap:operation soapAction="http://tempuri.org/IService4/SearchModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComModules">
      <soap:operation soapAction="http://tempuri.org/IService4/GetComModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComModules">
      <soap:operation soapAction="http://tempuri.org/IService4/UpdateComModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComModules">
      <soap:operation soapAction="http://tempuri.org/IService4/DeleteComModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLecHalls">
      <soap:operation soapAction="http://tempuri.org/IService4/AddLecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLecHalls">
      <soap:operation soapAction="http://tempuri.org/IService4/SearchLecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComLecHalls">
      <soap:operation soapAction="http://tempuri.org/IService4/GetComLecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComlecHalls">
      <soap:operation soapAction="http://tempuri.org/IService4/UpdateComlecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComLecHalls">
      <soap:operation soapAction="http://tempuri.org/IService4/DeleteComLecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLabs">
      <soap:operation soapAction="http://tempuri.org/IService4/AddLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLabs">
      <soap:operation soapAction="http://tempuri.org/IService4/SearchLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComLabs">
      <soap:operation soapAction="http://tempuri.org/IService4/GetComLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComLabs">
      <soap:operation soapAction="http://tempuri.org/IService4/UpdateComLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComLabs">
      <soap:operation soapAction="http://tempuri.org/IService4/DeleteComLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTimetables">
      <soap:operation soapAction="http://tempuri.org/IService4/AddTimetables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComTimetables">
      <soap:operation soapAction="http://tempuri.org/IService4/GetComTimetables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEngineeringLecturers">
      <soap:operation soapAction="http://tempuri.org/IService4/GetEngineeringLecturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEngineeringStudents">
      <soap:operation soapAction="http://tempuri.org/IService4/GetEngineeringStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLecturers">
      <soap:operation soapAction="http://tempuri.org/IService4/SearchLecturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStudents">
      <soap:operation soapAction="http://tempuri.org/IService4/SearchStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service4">
    <wsdl:port name="BasicHttpBinding_IService4" binding="tns:BasicHttpBinding_IService4">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SLSOCserver/Service4/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>