SLSOCdesktop/Service References/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SLSOCserver" />
  <xs:element name="AddModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="md" nillable="true" type="q1:Modulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddModulesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="SearchModulesResult" nillable="true" type="q2:Modulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComModules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetComModulesResult" nillable="true" type="q3:ArrayOfModulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="cmu" nillable="true" type="q4:Modulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateComModulesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="cmdel" nillable="true" type="q5:Modulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteComModulesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>