SLSOCdesktop/Service References/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SLSOCserver" />
  <xs:element name="AddModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="md" nillable="true" type="q1:Modulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddModulesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="SearchModulesResult" nillable="true" type="q2:Modulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComModules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetComModulesResult" nillable="true" type="q3:ArrayOfModulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="cmu" nillable="true" type="q4:Modulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateComModulesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="cmdel" nillable="true" type="q5:Modulesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteComModulesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLecHalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="lhd" nillable="true" type="q6:Lechallsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLecHallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLecHallsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLecHalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lechallcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLecHallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="SearchLecHallsResult" nillable="true" type="q7:Lechallsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComLecHalls">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComLecHallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetComLecHallsResult" nillable="true" type="q8:ArrayOfLechallsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComlecHalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="clhu" nillable="true" type="q9:Lechallsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComlecHallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateComlecHallsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComLecHalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="clhdel" nillable="true" type="q10:Lechallsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComLecHallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteComLecHallsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLabs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="lbd" nillable="true" type="q11:Labsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLabsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLabs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Labcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="SearchLabsResult" nillable="true" type="q12:Labsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComLabs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComLabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetComLabsResult" nillable="true" type="q13:ArrayOfLabsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComLabs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="clbu" nillable="true" type="q14:Labsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComLabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateComLabsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComLabs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="clbdel" nillable="true" type="q15:Labsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComLabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteComLabsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimetables">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="td" nillable="true" type="q16:Timetablesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTimetablesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComTimetables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComTimetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetComTimetablesResult" nillable="true" type="q17:ArrayOfTimetablesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputingLecturers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputingLecturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetComputingLecturersResult" nillable="true" type="q18:ArrayOfLecturersc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputingStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputingStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetComputingStudentsResult" nillable="true" type="q19:ArrayOfStudentsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLecturers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="ls" nillable="true" type="q20:Lecturersc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLecturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="SearchLecturersResult" nillable="true" type="q21:Lecturersc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="ss" nillable="true" type="q22:Studentsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="SearchStudentsResult" nillable="true" type="q23:Studentsc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>