SLSOCdesktop/Service References/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SLSOCserver" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_AddModules_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModules" />
  </wsdl:message>
  <wsdl:message name="IService2_AddModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchModules_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchModules" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComModules" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_UpdateComModules_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComModules" />
  </wsdl:message>
  <wsdl:message name="IService2_UpdateComModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteComModules_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComModules" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteComModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_AddLecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLecHalls" />
  </wsdl:message>
  <wsdl:message name="IService2_AddLecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchLecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLecHalls" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchLecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComLecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComLecHalls" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComLecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComLecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_UpdateComlecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComlecHalls" />
  </wsdl:message>
  <wsdl:message name="IService2_UpdateComlecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComlecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteComLecHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComLecHalls" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteComLecHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComLecHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_AddLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLabs" />
  </wsdl:message>
  <wsdl:message name="IService2_AddLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLabs" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComLabs" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_UpdateComLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComLabs" />
  </wsdl:message>
  <wsdl:message name="IService2_UpdateComLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteComLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComLabs" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteComLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_AddTimetables_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTimetables" />
  </wsdl:message>
  <wsdl:message name="IService2_AddTimetables_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTimetablesResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComTimetables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComTimetables" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComTimetables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComTimetablesResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComputingLecturers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputingLecturers" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComputingLecturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputingLecturersResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComputingStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputingStudents" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComputingStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputingStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchLecturers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLecturers" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchLecturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLecturersResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchStudents" />
  </wsdl:message>
  <wsdl:message name="IService2_SearchStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComFeedbacks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComFeedbacks" />
  </wsdl:message>
  <wsdl:message name="IService2_GetComFeedbacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComFeedbacksResponse" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="AddModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/AddModules" message="tns:IService2_AddModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/AddModulesResponse" message="tns:IService2_AddModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/SearchModules" message="tns:IService2_SearchModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/SearchModulesResponse" message="tns:IService2_SearchModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetComModules" message="tns:IService2_GetComModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetComModulesResponse" message="tns:IService2_GetComModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/UpdateComModules" message="tns:IService2_UpdateComModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/UpdateComModulesResponse" message="tns:IService2_UpdateComModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComModules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/DeleteComModules" message="tns:IService2_DeleteComModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/DeleteComModulesResponse" message="tns:IService2_DeleteComModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/AddLecHalls" message="tns:IService2_AddLecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/AddLecHallsResponse" message="tns:IService2_AddLecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/SearchLecHalls" message="tns:IService2_SearchLecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/SearchLecHallsResponse" message="tns:IService2_SearchLecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComLecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetComLecHalls" message="tns:IService2_GetComLecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetComLecHallsResponse" message="tns:IService2_GetComLecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComlecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/UpdateComlecHalls" message="tns:IService2_UpdateComlecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/UpdateComlecHallsResponse" message="tns:IService2_UpdateComlecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComLecHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/DeleteComLecHalls" message="tns:IService2_DeleteComLecHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/DeleteComLecHallsResponse" message="tns:IService2_DeleteComLecHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/AddLabs" message="tns:IService2_AddLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/AddLabsResponse" message="tns:IService2_AddLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/SearchLabs" message="tns:IService2_SearchLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/SearchLabsResponse" message="tns:IService2_SearchLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetComLabs" message="tns:IService2_GetComLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetComLabsResponse" message="tns:IService2_GetComLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/UpdateComLabs" message="tns:IService2_UpdateComLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/UpdateComLabsResponse" message="tns:IService2_UpdateComLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/DeleteComLabs" message="tns:IService2_DeleteComLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/DeleteComLabsResponse" message="tns:IService2_DeleteComLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTimetables">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/AddTimetables" message="tns:IService2_AddTimetables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/AddTimetablesResponse" message="tns:IService2_AddTimetables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComTimetables">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetComTimetables" message="tns:IService2_GetComTimetables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetComTimetablesResponse" message="tns:IService2_GetComTimetables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComputingLecturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetComputingLecturers" message="tns:IService2_GetComputingLecturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetComputingLecturersResponse" message="tns:IService2_GetComputingLecturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComputingStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetComputingStudents" message="tns:IService2_GetComputingStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetComputingStudentsResponse" message="tns:IService2_GetComputingStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLecturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/SearchLecturers" message="tns:IService2_SearchLecturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/SearchLecturersResponse" message="tns:IService2_SearchLecturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/SearchStudents" message="tns:IService2_SearchStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/SearchStudentsResponse" message="tns:IService2_SearchStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComFeedbacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetComFeedbacks" message="tns:IService2_GetComFeedbacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetComFeedbacksResponse" message="tns:IService2_GetComFeedbacks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddModules">
      <soap:operation soapAction="http://tempuri.org/IService2/AddModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchModules">
      <soap:operation soapAction="http://tempuri.org/IService2/SearchModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComModules">
      <soap:operation soapAction="http://tempuri.org/IService2/GetComModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComModules">
      <soap:operation soapAction="http://tempuri.org/IService2/UpdateComModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComModules">
      <soap:operation soapAction="http://tempuri.org/IService2/DeleteComModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLecHalls">
      <soap:operation soapAction="http://tempuri.org/IService2/AddLecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLecHalls">
      <soap:operation soapAction="http://tempuri.org/IService2/SearchLecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComLecHalls">
      <soap:operation soapAction="http://tempuri.org/IService2/GetComLecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComlecHalls">
      <soap:operation soapAction="http://tempuri.org/IService2/UpdateComlecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComLecHalls">
      <soap:operation soapAction="http://tempuri.org/IService2/DeleteComLecHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLabs">
      <soap:operation soapAction="http://tempuri.org/IService2/AddLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLabs">
      <soap:operation soapAction="http://tempuri.org/IService2/SearchLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComLabs">
      <soap:operation soapAction="http://tempuri.org/IService2/GetComLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComLabs">
      <soap:operation soapAction="http://tempuri.org/IService2/UpdateComLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComLabs">
      <soap:operation soapAction="http://tempuri.org/IService2/DeleteComLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTimetables">
      <soap:operation soapAction="http://tempuri.org/IService2/AddTimetables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComTimetables">
      <soap:operation soapAction="http://tempuri.org/IService2/GetComTimetables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComputingLecturers">
      <soap:operation soapAction="http://tempuri.org/IService2/GetComputingLecturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComputingStudents">
      <soap:operation soapAction="http://tempuri.org/IService2/GetComputingStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLecturers">
      <soap:operation soapAction="http://tempuri.org/IService2/SearchLecturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStudents">
      <soap:operation soapAction="http://tempuri.org/IService2/SearchStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComFeedbacks">
      <soap:operation soapAction="http://tempuri.org/IService2/GetComFeedbacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SLSOCserver/Service2/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>